
<style>



</style>

</body>

<div class="tr">
    <label>文章标题</label>
    <div class="ipt">
        <input type="text" value={{data.title}}>
    </div>
</div>
<div class="tr">
    <label>文章标题</label>
    <div class="ipt">
        <input type="file">
    </div>
</div>
<div class="tr">
    <label>类别</label>
    <div class="ipt">
        <input type="checkbox" value={{data.type}}>
    </div>
</div>
<div class="tr">
    <label>作者</label>
    <div class="ipt">
        <input type="text" value={{data.author}}>
    </div>
</div>
<div class="tr">
    <label>关键字</label>
    <div class="ipt">
        <input type="text" value={{data.keyword}}>
    </div>
</div>
<div class="tr">
    <label>内容</label>
    <div class="ipt">
        <textarea cols="30" rows="10"></textarea>
    </div>
</div>
<div class="tr">
    <label>点击数</label>
    <div class="ipt">
        <input type="number" value={{data.clickNum}}>
    </div>
</div>